absl-py==0.6.1
alabaster==0.7.12
algoliasearch==1.17.0
algoliasearch-django==1.7.0
amqp==2.3.2
anyjson==0.3.3
appdirs==1.4.3
astor==0.7.1
atomicwrites==1.2.1
attrs==18.2.0
Babel==2.6.0
backcall==0.1.0
bangla==0.0.2
Beaker==1.10.0
beaker-mongodb==0.3
beautifulsoup4==4.6.0
billiard==3.5.0.4
bitcoin==1.1.42
bleach==3.0.2
blockchain==1.4.4
boto==2.49.0
bottle-mongodb==0.2.1
cached-property==1.5.1
celery==4.2.1
centrifuge==0.8.4
centrifuge-mongodb==0.3.0
certifi==2018.10.15
chardet==3.0.4
Click==7.0
cmsplugin-filer==1.1.3
colorama==0.4.1
configparser==3.5.0
crayons==0.1.2
cycler==0.10.0
Cython==0.29
dataclasses==0.6
decorator==4.3.0
defusedxml==0.5.0
dj-database-url==0.5.0
Django==2.1.3
django-appconf==1.0.2
django-celery==3.2.2
django-celery-results==1.0.4
django-ckeditor==5.6.1
django-classy-tags==0.8.0
django-cms==3.5.2
django-compressor==2.2
django-compressor-toolkit==0.6.0
django-crispy-forms==1.7.2
django-debug-toolbar==1.10.1
django-debug-toolbar-alchemy==0.1.5
django-debug-toolbar-request-history==0.0.9
django-disqus==0.5
django-drip==0.7.1
django-elasticsearch-dsl==0.5.1
django-extensions==2.1.4
django-filer==1.3.2
django-filter==2.0.0
django-formtools==2.1
django-generic-positions==0.2.2
django-geojson==2.11.0
django-google-maps==0.10.1
django-googlesearch==0.2
django-heroku==0.3.1
django-hvad==1.8.0
django-js-asset==1.1.0
django-leaflet==0.24.0
django-libs==2.0.2
django-location==2.1.1
django-location-field==2.0.6
django-mail-templated==2.6.5
django-mailbox==4.7.1
django-map-widgets==0.2.1
django-markdown==0.8.4
django-modelcluster==4.3
django-mongodb-cache==0.3
django-mongodb-engine==0.6.0
django-mptt==0.8.7
django-newsletter==0.7
django-newsletter-signup==0.6.2
django-newsletter-subscription==0.4.0
django-phonenumber-field==2.1.0
django-polymorphic==2.0.3
django-post-office==3.1.0
django-registration-redux==2.5
-e git://github.com/bitmazk/django-review.git@70d4b5c8d52d9a5615e5d0f5c7f147e15573c566#egg=django_review
-e git://github.com/danawoodman/django-reviews.git@b8daab8ae9aeed1b93556d6ec768bcb89087ee25#egg=django_reviews
django-sekizai==0.10.0
django-ses==0.8.7
django-simple-history==2.5.1
django-social-auth==0.7.28
django-taggit==0.23.0
django-timedeltafield==0.7.10
django-treebeard==4.3
django-twilio==0.9.3
django-user-media==1.2.5
django-web-profiler==0.1.4
django-welcome==0.3.0
djangocms-admin-style==1.2.9
djangocms-attributes-field==0.4.0
djangocms-column==1.9.0
djangocms-file==2.0.3
djangocms-googlemap==1.2.0
djangocms-installer==1.0.1
djangocms-link==2.1.2
djangocms-picture==2.0.7
djangocms-snippet==2.0.0
djangocms-style==2.1.0
djangocms-text-ckeditor==3.6.1
djangocms-video==2.0.5
djangorestframework==3.9.0
djangorestframework-jwt==1.11.0
djangotoolbox==0.9.2
djongo==1.2.30
docker==3.6.0
docker-compose==1.22.0
docker-pycreds==0.3.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.14
draftjs-exporter==2.1.5
easy-thumbnails==2.5
elasticsearch==6.3.1
elasticsearch-dsl==6.1.0
entrypoints==0.2.3
enum-compat==0.0.2
Faker==1.0.0
filelock==3.0.10
Flask==1.0.2
future==0.17.1
gast==0.2.0
gcloud==0.18.3
GDAL==2.3.2
geocoder==1.38.1
geocodertools==0.1.7
geographiclib==1.49
geoip2==2.4.2
geolocator==0.1.1
geopy==1.17.0
google==2.0.1
googleapis-common-protos==1.5.5
googlemaps==3.0.2
greenlet==0.4.15
grpcio==1.16.0
gunicorn==19.9.0
hiredis==0.3.0
html5==0.0.9
html5lib==1.0.1
httplib2==0.9.2
idna==2.6
imagesize==1.1.0
ipaddress==1.0.22
ipykernel==5.1.0
ipython==7.1.1
ipython-genutils==0.2.0
ipywidgets==7.4.2
itsdangerous==1.1.0
jedi==0.13.1
Jinja2==2.10
jsonfield==2.0.2
jsonplus==0.8.0
jsonschema==2.4.0
Kivy==1.10.1
Kivy-examples==1.10.1
Kivy-Garden==0.1.4
kiwisolver==1.0.1
kombu==4.2.1
ldif3==3.1.1
lxml==4.6.2
Markdown==3.0.1
MarkupSafe==1.1.0
matplotlib==3.0.1
maxminddb==1.3.0
mistune==0.8.4
mock==2.0.0
mongodb-formatter==0.1a2
mongoengine==0.16.2
more-itertools==4.3.0
motor==0.3.4
nbconvert==5.4.0
nbformat==4.4.0
nose==1.3.7
numpy==1.15.4
oauth2==1.9.0.post1
oauth2client==4.1.3
packaging==16.8
pandas==0.23.4
pandocfilters==1.4.2
parso==0.3.1
pbr==5.1.0
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.3.0
pipenv==2018.11.26
pluggy==0.8.0
poloniex==0.0.17
postgis==1.0.4
prometheus-client==0.4.2
prompt-toolkit==2.0.7
protobuf==3.6.1
psycopg-postgis==0.4.0
psycopg2==2.7.6.1
psycopg2-binary==2.7.6.1
ptyprocess==0.6.0
py==1.7.0
pyasn1==0.4.4
pyasn1-modules==0.2.2
pydot==1.2.4
pygame==1.9.4
Pygments==2.2.0
pyicloud-dwoh==0.4.1
PyJWT==1.6.4
pymongo==2.7.1
pyparsing==2.2.0
PyPDF2==1.26.0
PyQt5==5.11.3
PyQt5-sip==4.19.13
pyqtdeploy==2.2
PySocks==1.6.8
pysolr==3.8.1
pytest==3.10.0
python-card-me==0.9.3
python-dateutil==2.7.5
python-openid==2.2.5
pytz==2017.2
pyzmq==17.1.2
qtconsole==4.4.3
ratelim==0.1.6
rcssmin==1.0.6
reportlab==3.5.11
requests==2.20.1
rjsmin==1.0.12
rsa==4.0
scipy==1.1.0
scrapy-mongodb==0.12.0
seaborn==0.9.0
selenium==3.141.0
Send2Trash==1.5.0
simplejson==3.16.0
six==1.11.0
snowballstemmer==1.2.1
social==0.1.dev3
sockjs-tornado==1.0.1
sorl-thumbnail==12.5.0
sortedcontainers==2.0.5
Sphinx==1.8.2
sphinxcontrib-websupport==1.1.0
SQLAlchemy==1.2.14
sqlparse==0.2.4
stevedore==1.30.0
surlex==0.2.0
swapper==1.1.0
tabulate==0.8.2
tensorboard==1.8.0
tensorflow==1.8.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
text-unidecode==1.2
texttable==0.9.1
toml==0.10.0
toredis-fork==0.1.4
tornado==4.2.1
toro==0.8
towel==0.11.0
tox==3.5.3
traitlets==4.3.2
twilio==6.20.0
tzlocal==1.5.1
unicodecsv==0.14.1
Unidecode==0.4.21
urllib3==1.24
user-agent==0.1.9
vine==1.1.4
virtualenv==16.1.0
virtualenv-clone==0.4.0
virtualenvwrapper==4.8.2
wagtail==2.3
wcwidth==0.1.7
webdriver-manager==1.7
webencodings==0.5.1
webscraping==1.7
websocket-client==0.53.0
Werkzeug==0.14.1
whitenoise==4.1.2
widgetsnbextension==3.4.2
Willow==1.1
xadmin==0.6.1
xhtml2pdf==0.2.3
xlrd==1.1.0
xlwt==1.3.0
yelp==1.0.2
